{{template "base/head" .}}
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{StaticUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					M3P2
				</h1>
				<h2>
					Collaborative Teaching
					<br>
					Resources Platform
				</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-broadcast"}} Accessible
			</h1>
			<p class="large">
				Broadcast knowledge for the betterment of all.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} Anywhere
			</h1>
			<p class="large">
				Teaching material and online courses, made by teachers everywhere.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-rocket"}} Modern
			</h1>
			<p class="large">
				Power students through the 21th century.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-code"}} Open Source
			</h1>
			<p class="large">
				Libre software, free as in freedom.
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
