{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>{{.i18n.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-flame" 16}} {{.i18n.Tr "startpage.burners"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.burners_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-gift" 16}} {{.i18n.Tr "startpage.gift"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.gift_desc" | Str2html}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-heart" 16}} {{.i18n.Tr "startpage.love"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.love_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-jersey" 16}} {{.i18n.Tr "startpage.volte"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.volte_desc" | Str2html}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
